
<section class="hero">
    <div class="container text-center">
      <h1 class="fade-in">¡Hola, Soy <span class="highlight">Orlando Neris</span>!</h1>
      <p class="h2 fade-in delay-1">
      Desarrollador Web <span class="highlight"> Full-Stack</span> | Administrador de BBDD.
      </p>
      <div class="fade-in delay-2">
        <a routerLink="/projects" class="btn btn-primary btn-lg">Mis Proyectos</a>
        <a routerLink="/contact" class="btn btn-outline-light btn-lg">Contáctame</a>
      </div>
    </div>
  </section>

  <section class="about-me">
    <div class="container">
      <article>
        <h2 class="slide-up">🚀 Sobre Mí</h2>
        
        <p class="fade-in text-align-left">
        Soy <strong>Analista de Sistemas de Computacion</strong>, <strong>Analista Programador</strong> y actualmente dedico a la programacion como <strong>Desarrollador Web Full-Stack</strong> y <strong>Administrador de Bases de Datos</strong> con más de <strong>5 años de experiencia</strong> 
        en el diseño, desarrollo e implementación de <strong>aplicaciones web complejas</strong>.
        </p>

        <p class="fade-in delay-1  text-align-left">
          Poseo un sólido dominio en <strong>arquitecturas cliente-servidor</strong>, <strong>metodologías ágiles</strong> y <strong>patrones de diseño</strong>, 
          aplicando principios <strong>SOLID</strong> y desarrollo basado en <strong>REST</strong>,<strong>microservicios</strong>.
          Manejo avanzado de <strong>Control de versiones</strong> y administración de servidores <strong>GNU/Linux</strong>.
          Sumado a amplia expreciencia en lenguajes de programación como <strong>PHP, JavaScript, Python, Bash, C++ </strong>. 
        </p>

        <p class="fade-in delay-2">
          Me considero un <strong>Administrador bases de datos</strong> Avanzado, pudiendo optimizar y mejorar consultas, 
          crear <strong>vistas</strong> y <strong>procedimientos almacenados</strong>, <strong>Transacciones</strong> además de manejar <strong>operaciones espaciales de tipo GIS</strong>
          avanzadas como cruces, recortes y mediciones. Configuracion de <strong>data wrappers </strong>(Contenedores de datos externos)
          para mejorar el flujo de información y garantizar soluciones escalables y eficientes. 
        </p>

        <p class="fade-in delay-3">
          Con un enfoque <strong>colaborativo</strong> y <strong>orientado a la excelencia técnica</strong>,
           me adapto a diversos entornos tecnológicos para desarrollar soluciones <strong>robustas</strong>, <strong>innovadoras</strong> y de alto rendimiento.
           Siempre a la busqueda de <strong>nuevos desafios</strong> y grandes aprendizajes.
        </p>
      </article>
    </div>
  </section>


  <section class="tech-stack">
    <div class="container text-center">
      <h2 class="slide-up">💻 Tecnologías con las que trabajo</h2>
      <div class="grid">
        
        <!-- PHP -->
        <div class="tech-card fade-in">
          <img src="assets/php-icon.png" alt="PHP">
          <h3>PHP</h3>
          <ul class="tech-details">
            <li>Versiones: <strong>5.x, 7.x, 8.x</strong></li>
            <li>Frameworks: <strong>Laravel, Symfony, Zend</strong></li>
            <li>Patrones: <strong>MVC, Diseño Modular, CommandPattern, Microservicios</strong></li>
          </ul>
        </div>

        <!-- JavaScript -->
        <div class="tech-card fade-in delay-1">
          <img src="assets/js-icon.png" alt="JavaScript">
          <h3>JavaScript</h3>
          <ul class="tech-details">
            <li>Frameworks: <strong>Angular, Vue.js</strong></li>
            <li>Backend: <strong>Node.js, Express.js</strong></li>
          </ul>
        </div>

        <!-- Python -->
        <div class="tech-card fade-in delay-2">
          <img src="assets/python-icon.png" alt="Python">
          <h3>Python</h3>
          <ul class="tech-details">
            <li>Frameworks: <strong>Django, FastApi</strong></li>
          </ul>
        </div>

        <!-- SQL -->
        <div class="tech-card fade-in delay-3">
          <img src="assets/sql-icon.png" alt="SQL">
          <h3>SQL</h3>
          <ul class="tech-details">
            <li>DBMS: <strong>PostgreSQL, MySQL, SQL Server, SqLite, Mongo, Firebase</strong></li>
            <li>OP: <strong>DML, DDL, T-Sql, Sql Tunning.</strong></li>
            <li>Extensiones: <strong>PostGIS, PL/pgSQL</strong></li>
          </ul>
        </div>

        <!-- Docker -->
        <div class="tech-card fade-in delay-4">
          <img src="assets/docker-icon.png" alt="Docker">
          <h3>Docker</h3>
          <ul class="tech-details">
            <li>Contenedores y Microservicios</li>
            <li>Orquestación con <strong>Docker Compose</strong></li>           
          </ul>
        </div>

        <!-- Git -->
        <div class="tech-card fade-in delay-5">
          <img src="assets/git-icon.png" alt="Git">
          <h3>Git</h3>
          <ul class="tech-details">
            <li>Control de Versiones</li>
            <li>Plataformas: <strong>GitHub, GitLab, Gitea, Git</strong></li>
            <li>Flujos: <strong>Git Flow</strong></li>
          </ul>
        </div>

      </div>
    </div>
  </section>
